.navegar{
    
    background-color: rgba(25, 0, 255, 0.39);
    
    padding: 0px 10px;
}

.navegar1{
    
    padding: 0px 0px 0px 500px;
}

.navegacion{ 
    float: left; 
}

.borde{
    border: 1px rgb(9, 44, 97) solid;
    
}

.centrar{
    align-items: center;
    justify-content: center;


}

.inicio{
    border-radius: 10px;
    margin-top: 100px;
    background-color: #95aa62;
    
}

.login{
    border-radius: 10px;
    margin-top: 30px;
    background-color:#95aa62;
    
}

.textox{
    font-size: 13px;
}



.celda{
    align-content: "center";
}


td {
    text-align: center;
    
    color: white;
}

th {
    text-align: center;
    color: white;
}

li a:hover:not(.active) {
    background-color: magenta;
    border-radius: 10px;
}

tr:hover {background-color: #5e4790;}
td.text {color: white;}

li a:hover:active {
    background-color: #04AA6D;
    border-radius: 10px;
}

.active {
    background-color: blueviolet;
    border-radius: 10px;

}
.sinlimites{
    border: 0;
    padding: 0;
    margin: 0;

}

.ancho {
    width: 50px;
    text-align: center;

    
}

.prueba{
    display: none;
}

thead{
    background-color:#cf962c;
    color: white;
}

/*.colorDiv{
    background-color: rgb(63, 103, 177);
}

.colorDiv2{
    background-color: rgba(238, 130, 238, 0.411);
}

.colorDiv3{
    background-color: rgba(144, 238, 144, 0.644);
}*/

body{
    background-color: #c4b8d9;
    background-size: auto;
    background-repeat: no-repeat;

}

.fuente{
    font-family: Lato;
    font-size: 50px;
    color: #5e4790;
    
}
.b-color{
    background-color: #5e4790;
}

.cardColor{
    border-radius: 10px;
    margin: 20px;
    background-color: #4a828D;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}
.tamper{
    margin: 10px;
}

.navColor{
    background-color: #cf962c;

    color: black;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.linkColor{
    background-color: #5e4790;
    color: white;
    font-size: 20px;
    font-family: Lato;
    
}

.shablack{
    box-shadow: rgba(0, 0, 0, 0.856) 0px 5px 15px;
}
.borde-rad{
    box-shadow: rgba(0, 0, 0, 0.856) 0px 5px 15px;
    border-radius: 10 px;
}

.fuente2{
    font-family: Lato;
    font-size: 30px;
    
}

.fuente3{
    font-family: Lato;
    
}

.fuente4{
    font-family: Lato;
    font-size: 40px;
    color: #5e4790;
    
}

.colori{
    
    color: #5e4790;
    
}

.fuente5{
    font-family: Lato;
    font-size: 22px;
    color: white;
    
}

.alto{
    height: 150px;
    width: 150px;

}